extends layouts/default
- sites = (typeof sites != 'undefined') ? sites : {}
- meta = (typeof meta != 'undefined') ? meta : {}
block pageTitle
  title curapps | web
block metaDesc
  meta(name='description', content=meta.description)
block metaKeywords
  meta(name='keywords', content=meta.keywords)
block mainContent
    h3 web
    ul.thumbnails.apps-thumbnails
      - each site in sites
        li.span4
          a(href=site.url).thumbnail
            h5 #{site.name}
            img(src=site.img).img-rounded
            br